<div class="container">
    <div class="sidebar">
        <app-sidebar></app-sidebar>
    </div>
    <div class="right">

        <div class="inner">


            <p-table [value]="data().slice().reverse()" [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Subject</th>
                        <th>Message</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-i="rowIndex">
                    <tr>
                        <td>{{i + 1}}</td>
                        <td>{{product.Date | date}}</td>
                        <td>{{product.Name}}</td>
                        <td>{{product.Email}}</td>
                        <td>{{product.Subject}}</td>
                        <td>{{product.Message}}</td>
                    </tr>
                </ng-template>
            </p-table>


        </div>


    </div>
</div>